<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>
    {% block title %}
      {% if request.path == '/login/' %}
        Login
      {% elif request.path == '/register/' %}
        Register
      {% else %}
        My Site
      {% endif %}
    {% endblock %}
  </title>
  {% block extra_css %}{% endblock %}
  {% block extra_js %}{% endblock %}
  <style>
     html, body {
           height: 100%;
           margin: 0;
           padding: 0;
       }
  </style>
</head>

<body>
  <header>
    <div class="container">
      <nav>
        <a href="{% url 'home' %}"><button> Home </button></a>
        {% if not request.path == '/login/' %}
          <a href="{% url 'login' %}"><button> Login </button></a>
        {% endif %}
        {% if not request.path == '/register/' %}
          <a href="{% url 'register' %}"><button> Register </button></a>
        {% endif %}
      </nav>
    </div>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
