<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <style>
           .container {
               position: relative;
               height: 100%;
               /*background-image: url("{% static 'images/elder_care.jpg' %}");
               background-size: cover;
               background-position: center;*/
           }
       </style>
    <title>{% block title %}My Site{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/profile_style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

        {% block extra_css %}{% endblock %}
        {% block extra_js %}{% endblock %}
    </head>

    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <div class="sidebar">
                <h1>Medication Reminder</h1>
                <h3>{{ user.username }}</h3>
                <ul>
                    <li><a href="{% url 'profile_home' %}" class="sidebar-link">Home</a></li>
                    <li><a href="{% url 'medication_schedule' %}" class="sidebar-link">Medication Schedule</a></li>
                    <li><a href="{% url 'manual_input' %}" class="sidebar-link">Manual Input</a></li>
                    <li><a href="{% url 'configuration' %}" class="sidebar-link">Configuration</a></li>
                    <li><a href="{% url 'events' %}" class="sidebar-link">Events</a></li>
                    <li><a href="{% url 'data' %}" class="sidebar-link">Data Analysis</a></li>
                    <li><a href="{% url 'settings' %}" class="sidebar-link">Account Settings</a></li>
                    <li>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="sidebar-link">Logout</button>
                        </form>                        
                    </li>
                </ul>
            </div>
            <div class="main-content">
                {% block profile_content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
