body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal overflow */
}

.content-container {
    display: flex;
    justify-content: space-between;
}

.notification-container, .medication-calendar {
    position: relative; /* Ensures child elements with absolute positioning are placed relative to this container */
    width: 50%;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.notification-list {
    list-style-type: none;
    padding: 0;
}

.notification-item {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #e2e2e2;
    transition: background-color 0.3s;
}

.notification-item:hover {
    background-color: #d3d3d3;
}

.notification-message, .notification-timestamp {
    display: block;
}

.notification-message {
    font-size: 16px;
}

.notification-timestamp {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
}

.routine { background-color: #e7f4e4; }
.important { background-color: #fff3cd; }
.critical { background-color: #f8d7da; }
.info { background-color: #d1ecf1; }
.system { background-color: #cce5ff; }

.medication-calendar {
    position: relative;
    width: 50%;
    height: 720px; /* 24 hours x 30 minutes each */
}

.time-columns {
    margin-top: 60px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 90%;
}

.hour-mark {
    height: 120px; /* Represents 2-hour blocks */
    border-top: 1px solid #ddd;
    padding: 5px;
    box-sizing: border-box;
    font-size: 12px;
    text-align: center;
    color: #666;
}

.medication-events {
    position: relative;
    margin-left: 50px;
    height: 100%;
}

.medication-event {
    position: absolute;
    left: 0;
    width: calc(100% - 50px);
    background-color: #a2d2ff;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #77aaff;
    color: #333;
    font-size: 14px;
}

.content-container {
    display: flex;
    justify-content: space-between;
}


.pagination-controls {
    position: absolute;
    bottom: 10px; /* Distance from the bottom of the container */
    width: 100%; /* Ensures the pagination controls span the entire width of the container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-controls button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.pagination-controls button:disabled {
    background-color: #e0e0e0;
    cursor: default;
}
