body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal overflow */
}

.content-container {
    display: flex;
    justify-content: space-between;
}

.notification-container, .medication-calendar {
    position: relative; /* Ensures child elements with absolute positioning are placed relative to this container */
    width: 50%;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.notification-list, .schedule-list {
    list-style-type: none;
    padding: 0;
}

.notification-item, .schedule-item {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #e2e2e2;
    transition: background-color 0.3s;
}

.schedule-item {
    background-color: #cce5ff;
}


.notification-item:hover {
    background-color: #d3d3d3;
}

.notification-message, .notification-timestamp, .schedule-medication, .schedule-time {
    display: block;
}

.notification-message, .schedule-medication {
    font-size: 16px;
}

.notification-timestamp, .schedule-time {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
}

.routine { background-color: #e7f4e4; }
.important { background-color: #fff3cd; }
.critical { background-color: #f8d7da; }
.info { background-color: #d1ecf1; }
.system { background-color: #cce5ff; }

.content-container {
    display: flex;
    justify-content: space-between;
}

.pagination-controls {
    position: absolute;
    bottom: 10px; /* Distance from the bottom of the container */
    width: 100%; /* Ensures the pagination controls span the entire width of the container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-controls button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.pagination-controls button:disabled {
    background-color: #e0e0e0;
    cursor: default;
}
