body {
    font-family: Arial, sans-serif;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.schedule {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.add-schedule {
    min-width: fit-content;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    word-wrap: break-word;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

input[type="submit"] {
    padding: 4px 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    font-size: 0.8em;
}

/*add_schedule class make button taler*/
.add_schedule {
    height: 35px;
    width: 80%;
    margin-left: 10%;
}

.delete {
    height: 35px;
    width: 50px;
    margin-left: 20%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

@media (max-width: 800px) {
    .container, .configuration-section {
        flex-direction: column;
        width: 100%;
    }
}

form label, form textarea, form input[type="text"], form input[type="time"], form input[type="number"] {
    display: block;
    margin-bottom: 10px;
}

form input, form textarea {
    width: 95%;
    padding: 8px;
    box-sizing: border-box;
}

form textarea {
    height: 100px;
    resize: vertical;
}

th:nth-child(1), td:nth-child(1) { width: 20%; }
th:nth-child(2), td:nth-child(2) { width: 15%; }
th:nth-child(3), td:nth-child(3) { width: 10%; }
th:nth-child(4), td:nth-child(4) { width: 10%; }
th:nth-child(5), td:nth-child(5) { width: 35%; }
th:nth-child(6), td:nth-child(6) { width: 10%; }

@media (max-width: 600px) {
    td { white-space: normal; }
}
