.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    padding: 1.25em; /* Convert 20px to em */
    box-shadow: 0 0.32em 0.64em 0 var(--shadow), 0 0.48em 1.6em 0 var(--shadow); /* Convert px to em */
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto; /* Move the buttons to the right */
}

.navbar li {
    margin-left: 1.25em; /* Convert 20px to em */
    margin-right: 1.875em; /* Convert 30px to em */
}

.navbar li.end {
    margin-right: 0;
    margin-left: auto;
}

.navbar i {
    margin-right: 5px;
}

.navbar button, .navbar a {
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1em; /* Convert 16px to em */
}

.navbar button:hover {
    color: #3b5447;
}
