/* profile_style.css */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Ensure box-sizing includes padding and borders */
* {
    box-sizing: border-box;
}
/* General container styling */
.container {
    display: flex;              /* Use flexbox layout */
}

/* Sidebar styling */
.sidebar {
    width: 200px;               /* Sidebar width */
    background-color: #f0f0f0;/* Background color */
    padding: 10px;              /* Padding inside the sidebar */
    height: 100vh;              /* Full height of the viewport */
}

/* Main content styling */
.main-content {
    flex-grow: 1;               /* Allow main content to grow and take up available space */
    padding: 20px;              /* Padding around main content */
}

/* Sidebar list styling */
.sidebar ul {
    list-style-type: none;      /* Remove default list style */
    padding: 0;                 /* Remove default padding */
}

/* Sidebar link styling */
.sidebar ul li a.sidebar-link {
    text-decoration: none;  
    color: black;           
    display: block;         
    padding: 8px;           
    margin-bottom: 15px;    
    background-color: #e0e0e0;  
    border-radius: 5px;     
}

/* Sidebar link hover styling */
.sidebar ul li a.sidebar-link:hover {
    background-color: #d0d0d0;  
}

/* Table styling */
table {
    width: 100%;                /* Full width */
    border-collapse: collapse;  /* Collapse borders */
}

th, td {
    border: 1px solid #ddd;   /* Border for table cells */
    padding: 8px;               /* Padding inside table cells */
}

th {
    background-color: #f2f2f2;/* Background color for table headers */
    text-align: left;           /* Left-align text in headers */
}

tr:nth-child(even) {
    background-color: #f2f2f2;/* Background color for even rows */
}

/* Logout button styling */
.sidebar button {
    text-decoration: none;      /* Remove underline */
    color: black;             /* Text color */
    display: block;             /* Display as block element */
    padding: 8px;               /* Padding */
    margin-bottom: 5px;         /* Margin below button */
    background-color: #e0e0e0;/* Background color */
    border: none;               /* Remove border */
    border-radius: 5px;         /* Rounded corners */
    cursor: pointer;            /* Cursor pointer */
    width: 100%;                /* Full width */
    text-align: left;           /* Left-align text */
}

/* Logout button hover styling */
.sidebar button:hover {
    background-color: #d0d0d0;/* Background color on hover */
}


