/* styles.css */

:root[data-theme="light"] {
    --text: #10150f;
    --background: #fafbf9;
    --primary: #799d72;
    --secondary: #aac4b7;
    --accent: #92b3a7;
}
:root[data-theme="dark"] {
    --text: #ebf0ea;
    --background: #050604;
    --primary: #698d62;
    --secondary: #3b5447;
    --accent: #4b6c60;
}
:root[data-theme="barbie"] {
    --text: #040316;
    --background: #fbfbfe;
    --primary: #ff00ee;
    --secondary: #fac2ff;
    --accent: #ff00bb;
}

:root {
    --text: #10150f;
    --background: #fafbf9;
    --primary: #799d72;
    --secondary: #aac4b7;
    --accent: #92b3a7;
    --shadow: rgba(125, 125, 125, 0.2);
}

body {
    font-family: "Roboto", sans-serif;
}

h2 {
    text-align: center;
    margin-bottom: 20px; /* Adds spacing below the title */
}

.login-container ul {
    display: flex;
    align-items: center; /* Centers items vertically */
    justify-content: center; /* Centers items horizontally */
    flex-direction: row;
    padding: 0;
}

.login-container li {
    list-style-type: none;
    margin-right: 10px;
}

.register-btn ul {
    display: flex;
    align-items: center; /* Centers items vertically */
    justify-content: center; /* Centers items horizontally */
    flex-direction: row;
    padding: 0;
}

.register-btn li {
    list-style-type: none;
    margin-right: 10px;
}

#alt-btn {
    border: 2px solid var(--primary);
    background-color: var(--background);
    transition: color 0.3s, color 0.3s; /* Add transition for smooth effect */
}

#alt-btn:hover {
    color: var(--primary);
}

 a, button {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    padding: 15px 30px; /* Adjust the top and bottom padding */
    font-size: 18px; /* Increase the font size of the button text */
    background-color: var(--primary); /* Set background color */
    color: var(--text); /* Set text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add cursor pointer on hover */
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth effect */
}

/* Hover effect */
 a:hover, button:hover {
    background-color: var(--accent); /* Change background color on hover */
    color: var(--text); /* Change text color on hover */
}

.text-over {
    color: rgb(255, 255, 255);
    font-size: 48px;
    z-index: 1;
    margin-bottom: 48px; /* Added margin to push buttons up */
}

.text-over a {
    margin: 4px 0px; /* Adjust button margins */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

form {
    max-width: 500px;
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
}