body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Center items vertically */
    min-height: calc(100vh - 7.5em); /* Convert 120px to em */
}

.row ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.row li {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    border-radius: 10px;
}

.row i {
    margin-bottom: 0.25em; /* Adjusted from 0.3125em */
    height: 0.25em; /* Adjusted from 1.25em */
    font-size: 2.25em; /* Adjusted from 2.8125em */
    text-align: center; /* Center align text */
}

.row a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    height: 10em; /* Convert 200px to em */
    width: 10em; /* Convert 200px to em */
    margin: 1.5625em; /* Convert 25px to em */
    padding: 0.625em; /* Convert 10px to em */
    font-size: 1.25em; /* Convert 20px to em */
    background-color: var(--primary);
    border-radius: 10px;
    color: var(--text);
    text-align: center; /* Center align text */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .row i {
        margin-bottom: 0.3em; /* Adjust margin for smaller screens */
    }
}

.row a:hover {
    background-color: var(--secondary);
}
