{% extends 'base_profile.html' %}
{% load static %}

{% block profile_content %}

<h1>Configurations</h1>

<hr>

<div>
    <p>Your API Token:</p>
    <textarea id="apiToken" readonly>{{ token.key }}</textarea>
</div>

<hr>

<h3>MQTT Configuration</h3>

<form method="post">
    {% csrf_token %}
    {{ mqtt_form.as_p }}
    <button type="submit">Save Configuration</button>
</form>

<hr>

<h3>Device Configuration</h3>

<!-- Form to add new device -->
<form method="post">
    {% csrf_token %}
    {{ device_form.as_p }}
    <button type="submit" name="device_submit">Add Device</button>
</form>

<!-- List existing devices -->
<div>
    <h4>Your Devices</h4>
    {% if devices %}
        <ul>
            {% for device in devices %}
                <li>| Name: {{ device.name }} | Type: {{ device.type }} | room: {{ device.room }} | uuid: {{ device.device_id}} | zigbee_id: {{ device.zigbee_id}} | status: {{ device.status}} |</li>
                <!-- Add more details as needed -->
            {% endfor %}
        </ul>
    {% else %}
        <p>No devices found.</p>
    {% endif %}
</div>

<hr>

<h3>Room Configuration</h3>
<form id="add-room-form">
    <input type="text" id="room-name-input" placeholder="Enter room name" required>
    <button type="submit">Add Room</button>
</form>

<script> 
    var roomConnections = JSON.parse("{{room_connections_json|escapejs}}"); 
    var rooms = JSON.parse("{{ rooms_json|escapejs }}");
</script>

<div id="room-container" style="width: 800px; height: 600px; position: relative; border: 1px solid #666;">
    {% for room in rooms %}
    <div class="room" id="room-{{ room.room_id }}" style="position: absolute; padding: 10px; border: 1px solid black;">
        {{ room.name }}
        <div class="connect" style="width: 10px; height: 10px; background-color: red; position: absolute; right: -5px; top: 50%;"></div>
    </div>
    {% endfor %}
</div>


<hr>

<h3>State Configuration</h3>

<form method="get" action="">
    <label for="state">Select State:</label>
    <select name="state" onchange="this.form.submit()">
        {% for state, name in state_names %}
            <option value="{{ state }}" {% if state == current_state %}selected{% endif %}>{{ name }}</option>
        {% endfor %}
    </select>
</form>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ state_config_form.as_p }}
    <input type="hidden" name="state_name" value="{{ current_state }}">
    <button type="submit" name="state_config_submit">Save State Configuration</button>
</form>

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.15.5/js/jsplumb.min.js"></script>
<script src="{% static 'js/configuration.js' %}" type="text/javascript"></script>
{% endblock %}