{% extends 'base_profile.html' %}
{% load static %}
{% load custom_filters %}

{% block profile_content %}
<div class="content-container">
    <ul class="medication-calendar">
        <h4>Today's Medication Schedule</h4>
        {% if schedules %}
            <ul class="schedule-list">
                {% for schedule in schedules %}
                    <li class="schedule-item">
                        <span class="schedule-medication">{{ schedule.medication_name }}</span>
                        <span class="schedule-time">{{ schedule.reminder_time|date:"H:i" }} - Time window: {{ schedule.time_window }} hrs</span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <li>No medication events scheduled for today.</li>
        {% endif %}
    </ul>

    <ul class="notification-container">
        <h4>Notifications</h4>
        <li>
            {% if notifications %}
            <ul class="notification-list" id="notificationList">
                {% for notification in notifications %}
                    <li class="notification-item {{ notification.type|lower }}">
                        <span class="notification-message">{{ notification.message }}</span>
                        <span class="notification-timestamp">{{ notification.timestamp|date:"M d, Y H:i" }}</span>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li class="pagination-controls">
            <button id="prevPage" onclick="changePage(-1)">←</button>
            <span id="currentPage">1</span>
            <button id="nextPage" onclick="changePage(1)">→</button>
        </li>
            
    {% else %}
        <li>No notifications found.</li>
    {% endif %}
    </ul>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/home.js' %}" type="text/javascript"></script>
{% endblock %}
