{% extends 'base_profile.html' %}
{% load static %}
{% load custom_filters %}

{% block profile_content %}
<div class="content-container">
    <div class="notification-container">
        <h4>Notifications</h4>
        {% if notifications %}
            <ul class="notification-list" id="notificationList">
                {% for notification in notifications %}
                    <li class="notification-item {{ notification.type|lower }}">
                        <span class="notification-message">{{ notification.message }}</span>
                        <span class="notification-timestamp">{{ notification.timestamp|date:"M d, Y H:i" }}</span>
                    </li>
                {% endfor %}
            </ul>
            <div class="pagination-controls">
                <button id="prevPage" onclick="changePage(-1)">←</button>
                <span id="currentPage">1</span>
                <button id="nextPage" onclick="changePage(1)">→</button>
            </div>
            
    {% else %}
        <p>No notifications found.</p>
    {% endif %}
    </div>

    <div class="medication-calendar" style="flex: 1;">
        <h4>Today's Medication Schedule</h4>
        {% if schedules %}
            <ul class="schedule-list">
                {% for schedule in schedules %}
                    <li class="schedule-item">
                        <span class="schedule-medication">{{ schedule.medication_name }}</span>
                        <span class="schedule-time">{{ schedule.reminder_time|date:"H:i" }} - Time window: {{ schedule.time_window }} hrs</span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No medication events scheduled for today.</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/home.js' %}" type="text/javascript"></script>
{% endblock %}
