<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="{% static 'css/styles_home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />    <title>Medication reminder</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="row">
        <ul>
            <li>
                <a href="{% url 'profile_home' %}">
                    <span class="material-symbols-outlined"> apps </span>
					Dashboard
                </a>
            </li>
            <li>
                <a href="{% url 'medication_schedule' %}">
                    <span class="material-symbols-outlined"> calendar_today </span>
					Schedule
                </a>
            </li>
            <li>
                <a href="{% url 'events' %}">
                    <span class="material-symbols-outlined"> list </span>
					Events
                </a>
            </li>
            <li>
                <a href="{% url 'data' %}">
                    <span class="material-symbols-outlined"> equalizer </span>
					Analysis
                </a>
            </li>
            <li>
                <a href="{% url 'configuration' %}">
                    <span class="material-symbols-outlined"> tune </span>
					Configuration
                </a>
            </li>
        </ul>
    </div>
</body>
</html>