{% extends 'base_profile.html' %}
{% load static %}
{% load custom_filters %}

{% block profile_content %}
<div>
    <h2>Your Medication Schedules</h2>
    {% if schedules %}
        <table class="medication_schedule">
            <thead>
                <tr>
                    <th>Medication Name</th>
                    <th>Reminder Time</th>
                    <th>Time Window</th>
                    <th>Dosage</th>
                    <th>Instructions</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for schedule in schedules %}
                    <tr>
                        <td>{{ schedule.medication_name }}</td>
                        <td>{{ schedule.reminder_time }}</td>
                        <td>{{ schedule.time_window }} hour(s)</td>
                        <td>{{ schedule.dosage }}</td>
                        <td>{{ schedule.instructions }}</td>
                        <td>
                            <form action="{% url 'delete_schedule' schedule.schedule_id %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <input type="submit" value="Delete" class="delete-button">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No medication schedules found.</p>
    {% endif %}
</div>

<!-- Form to add new schedule -->
<div class="add-medication-section">
    <h2>Add New Medication Schedule</h2>
    <form method="post" class="form">
        {% csrf_token %}
        
        <label for="id_medication_name">Medication name:</label>
        <input type="text" id="id_medication_name" name="medication_name" placeholder="Medication Name">
    
        <label for="id_reminder_time">Reminder time:</label>
        <input type="time" id="id_reminder_time" name="reminder_time">
    
        <label for="id_time_window">Time Window:</label>
        <input type="number" id="id_time_window" name="time_window" placeholder="Time Window (hours)">
    
        <label for="id_dosage">Dosage:</label>
        <input type="text" id="id_dosage" name="dosage" placeholder="Dosage">

        <label for="id_instructions">Instructions:</label>
        <textarea id="id_instructions" name="instructions" rows="4" placeholder="Instructions"></textarea>
    
        <button type="submit" class="add-button">Add Schedule</button>
    </form>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/medication_schedule_style.css' %}">
{% endblock %}