<!DOCTYPE html>
{% load static %}
<html>
<head>
    <style>
        html, body {
           height: 100%;
           margin: 0;
           padding: 0;
       }
       
       .container {
           position: relative;
           height: 100%;
           background-image: url("{% static 'images/elder_care.jpg' %}");
           background-size: cover;
           background-position: center;
           display: flex;
           justify-content: center;
           align-items: center;
           text-align: center;
       }
   </style>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="text-over">
            <h1>Welcome</h1>
            <a href="{% url 'login' %}"><button>Login</button></a>  
            <a href="{% url 'register' %}"><button>Register</button></a>  
            <a href="{% url 'admin:index' %}"><button>Admin</button></a>
        </div>
    </div>
</body>
</html>
