{% load static %}

{% block content %}
  <div class="login-container">
      <form method="post">
          <h2>Login</h2>
          {% csrf_token %}
          {{ form.as_p }}
          <ul >
            <li>
                <button>Login</button>
            </li>
            <li>
                <a id="alt-btn" href="{% url 'register' %}">Register</a>
            </li>
            <li>
                <a id="alt-btn" href="{% url 'home' %}">Home</a>
            </li>
          </ul>
          {% for message in messages %}
          <p>{{ message }}</p>
          {% endfor %}
      </form>
  </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}